:root {
    --darkBlack: #050505;
    --BlackGray: #1f1f1f;
    --DarkGray: #2d2d2d;
    --LightGray: #3a3a3a;
    --Gray: #757575;
    --halfWhite: #e9e9e9;
    --whiteGray: #f4f4f4;
    --white: #ffffff;
    --purpule: #a445ed;
    --orange: #ff5252;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    background-color: var(--darkBlack);
    color: var(--white);
  }
  body.dark {
    background-color: var(--white);
    color: var(--darkBlack);
  }
  .container {
    max-width: 1080px;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;
    margin: 0 auto;
  }
  header {
    padding: 3rem 0;
  }
  /* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
  .content {
    display: flex;
    align-content: center;
    justify-content:  space-between;
  }
  .content select {
    border: none;
    margin-right: 2rem;
    background-color: var(--white);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-right: 1rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* .fa-moon-o{
    color: var(--purpule);
  } */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Gray);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: var(--white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: var(--purpule);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--purpule);
  }
  input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round::before {
    border-radius: 50%;
  }
  header form {
    margin: 2rem 0;
    position: relative;
  }
  header form input {
    width: 100%;
    background-color: var(--halfWhite);
    padding: 1.2rem 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: inherit;
  }
  header form input:focus {
    border: 1px solid var(--purpule);
  }
  .search {
    object-fit: cover;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
    font-weight: 900;
    font-size: 2rem;
    color: var(--purpule);
  }
  .disctonary_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .section p {
    color: var(--purpule);
  }
  .disctonary_content svg {
    cursor: pointer;
  }
  .disctonary_content svg :hover {
    opacity: 0.7;
  }
  .noun,
  .verb {
    margin: 4rem 0;
  }
  .noun h3,
  .verb h3 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    position: relative;
  }
  .noun h3::after,
  .verb h3::after {
    position: absolute;
    content: "";
    width: 92%;
    height: 2px;
    background-color: var(--halfWhite);
    top: 15px;
    bottom: 0;
    right: 0;
  }
  .noun > p,
  .verb p {
    color: var(--Gray);
  }
  .noun ul {
    margin: 2rem 0;
  }
  ul li {
    list-style-type: none;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  ul li::before {
    content: "\2022";
    color: var(--purpule);
    font-size: 2rem;
    width: 1rem;
    padding-right: 2rem;
  }
  .synonms p span {
    color: var(--purpule);
    font-weight: 600;
    margin-left: 2rem;
  }

  footer{
    max-width: 1080px;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;
    margin: 2vw auto;
    display: flex;
    justify-content: center;
  }

  .author{
    color:  var(--purpule) ;
  }
  .authorContainer{
    font-weight: 900;
  }

  .fa-github{
    font-size: 1.6rem;
    margin: 0 .8vw;
       color: var(--Gray);
  }
  .fa-github:hover{
    color: var(--white);
  }
  .github-link{
    text-decoration: none;
    
  }
  .github-link:visited{
    color: var(--Gray);
  }

  .fa-linkedin{
    font-size: 1.6rem;
      margin: 0;
       color: var(--Gray);
  }
  .fa-linkedin:hover{
    color: var(--white);
  }
 .linkedin-link{
  text-decoration: none;
  margin-bottom: .5vw;
 }

 .linkedin-link:visited{
  color: var(--Gray);
 }

 .fa-instagram{
  font-size: 1.6rem;
  margin: 0 .8vw 0 0;
  color: var(--Gray);
}
.fa-instagram:hover{
  color: var(--white);
}
.instagram-link{
  text-decoration: none;
  
}
.instagram-link:visited{
  color: var(--Gray);
}

